<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>AnyFleet uses your location to show nearby charters and sailing destinations on the map.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>AnyFleet needs access to your photo library so you can choose a profile picture.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ONDER-REGULAR.TTF</string>
	</array>
</dict>
</plist>
